section.file-group-result
{
  div.archive-and-ad {
    display: flex;
  }
}

section.file-group-result.single-file
{
  .container {
    display: flex;
    flex-direction: row;
  }

  div.archive-and-ad {
    margin-left: 4rem;
  }

  #FileJobs {
    order: -1;
    width: 400px;
    max-width: 400px;
  }
}


@include media-w850
{
  section.file-group-result.single-file
  {
    .container {
      display: flex;
      flex-direction: column;
    }

    div.archive-and-ad {
      margin-left: 0;
    }

    #FileJobs {
      margin-top: 3rem;
      width: 100%;
      max-width: 100%;
      order: 99;
    }
  }

}


// This same breakpoint is used in /components/_file-group-archive.scss
@include media-w650
{
  section.file-group-result
  {
    div.archive-and-ad {
      flex-direction: column-reverse;
    }

    div.above-file-job-result-ad {
      margin-bottom: 3rem;
    }
  }

}