section.intro.homepage
{
  .container {
    display: flex;
  }

  .home-intro {

  }

  .home-ad {
    margin-top: 4rem;
    margin-left: 3rem;
  }

}


section.text-content.homepage
{
  margin-top: 3rem;
}


@include media-w1150
{
  section.intro.homepage
  {
    .container {
      flex-direction: column;
    }

    .home-ad {
      margin-top: 2rem;
      margin-left: 0;
    }
  }
}
