.btn-floating.cloner,
.btn-floating.deleter
{
  $partial-shifter-btn-size: 22px;

  height: $partial-shifter-btn-size;
  width: $partial-shifter-btn-size;
  line-height: $partial-shifter-btn-size;

  i
  {
    line-height: $partial-shifter-btn-size;
    font-size: 16px;
  }
}


#multi-shift-table
{
  margin-bottom: 2rem;


  input[type=text].time-field,
  input[type="number"]
  {
    width: 80px;
    margin-bottom: 0;
    height: 2rem;
  }

  input[type=text].time-field
  {
    width: 70px;
  }

  .table-danger
  {
    background-color: rgba(240, 128, 128, 0.22);
  }

}




@include media-w450
{
  .table th,
  .table td
  {
    padding: 0.75rem 0.25rem;
  }
}
