#SubIdxLanguages
{
  width: 300px;

  .language
  {
    &.header { font-weight: 700; }

    .country { width: 25px; }
    .name { flex-grow: 1;}
    .status { width: 75px; text-align: center; }

    display: flex;

    > * { padding: 0.5rem; }
  }

}



.loader-content
{
  &.hidden {display: none;}

  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  p
  {
    padding-top: 2rem;
    text-align: center;
  }
}
