.result-and-ad
{
  display: flex;

  .sub-idx-detail-ad {
    margin-left: 4rem;
  }
}


#SubIdxLanguages
{
  width: 450px;

  .language
  {
    &.header { font-weight: 700; }

    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;

    .country { line-height: 0; width: 25px; margin-right: 1rem; }
    .name { flex-grow: 1;}
    .status
    {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 130px;


      .preloader-wrapper
      {
        margin-right: 8px;
      }
    }

    > * { padding: 0.5rem; }
  }

}

@include media-w600
{
  #SubIdxLanguages
  {
    width: 95%;
  }
}

@include media-w900
{
  .result-and-ad
  {
    flex-direction: column;
    align-items: center;

    .sub-idx-detail-ad {
      margin-left: 0;
      margin-top: 3rem;
    }
  }
}
