* text=auto
*.css linguist-vendored
*.scss linguist-vendored
*.js linguist-vendored
CHANGELOG.md export-ignore

* text eol=lf

*.tar.bz2 binary
*.tar.gz binary
*.tar binary
*.tgz binary
*.zip binary

