nav
{
  .nav-wrapper
  {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
  }

  .brand-logo
  {
    margin-left: 1rem;
  }

}

li.hamburger-brand
{
  color: black;
  margin-left: 0.5rem;
  margin-top: 0.25rem;
  font-size: 1.25rem;
}


