#please-im-begging-you
{
  margin: 0.5rem 0;
  padding-bottom: 0.5rem;
  display: flex;
  align-items: center;
  max-width: 800px;
  font-size: 16px;
  border-bottom: 1px solid #d0d0d0;

  img {
    width: 50px;
    height: 50px;
    margin: 0.25rem;
  }

  span {
    margin-left: 0.5rem;
  }

}


@include media-w650
{
  #please-im-begging-you
  {
    display: none;
  }
}
