.single-file .file-job
{
  margin: 0.25rem 0;
  padding: 0.25rem 0;
  border-bottom: 0;


  > div
  {
    display: flex;
    align-items: center;
  }

  .status
  {
    order: 1;
    width: 130px;
    margin-top: 2rem;
    font-size: 1.25rem;

    &.sup-job {
      flex-direction: column;
      width: 320px;
    }

    i
    {
      font-size: 32px;
    }
  }

  .original-name
  {
    order: 0;
    width: 100%;

    white-space: nowrap;
    overflow: hidden;

    > img
    {
      margin-right: 8px;
      max-width: 32px;
    }
  }

  .error-message
  {
    margin: 0.5rem 0;
    width: 100%;
  }

}






@include media-w1000
{
  #FileJobs
  {
    width: 100%;
  }

  .file-jobs .status
  {
    width: 110px;
  }
}

@include media-w900
{
  .file-job
  {
    .status
    {
      width: 100%;
      margin-bottom: 4px;
    }

    .original-name
    {

    }

    .error-message
    {
      margin: 0.25rem 0;
    }
  }

}
