#FileJobs
{
  width: 800px;
  max-width: 800px;


  .file-job
  {
    display: flex;
    flex-wrap: wrap;
    margin: 0.25rem 0;
    padding: 0.25rem 0;
    border-bottom: 1px solid lightgray;

    .status
    {
      display: flex;
      align-items: center;
      width: 130px;

      .preloader-wrapper
      {
        margin-right: 8px;
      }
    }

    .original-name
    {
      display: flex;
      align-items: center;
      flex-grow: 1;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;


      > img
      {
        margin-right: 8px;
        max-width: 16px;
      }
    }

    .error-message
    {
      margin: 0.5rem 0;
      width: 100%;
    }

  }

}

#GroupArchive
{
  display: flex;
  align-content: center;
  align-items: center;

  margin-bottom: 2rem;

  img { margin-right: 0.75rem; }
}


@include media-w1000
{
  #FileJobs
  {
    width: 100%;

    .status
    {
      width: 110px;
    }
  }
}

@include media-w900
{
  #FileJobs
  {
    .file-job
    {

      .status
      {
        width: 100%;
        margin-bottom: 4px;
      }

      .original-name
      {

      }

      .error-message
      {
        margin: 0.25rem 0;
      }

    }

  }
}

