#GroupArchive
{
  display: flex;
  align-content: center;
  align-items: center;

  margin-bottom: 2rem;

  img { margin-right: 0.75rem; }
}

div.above-file-job-result-ad
{
  display: flex;
  margin: 2rem 0;
}