section.tool
{
  .container {
    display: flex;
    flex-wrap: wrap;
  }

  form {
    flex-grow: 1;
    max-width: 520px;
  }

  .card-tool
  {
    box-shadow: 0px 5px 20px 5px rgba(0,0,0,0.14);
  }

  .card .card-content .card-title
  {
    line-height: 32px;
    margin: 0;
    margin-bottom: 2rem;
    font-size: 24px;
    font-weight: 300;
  }


  .alert-danger
  {
    border: 2px solid #ee6e73;
    border-radius: 2px;
    padding: 0.5rem 1rem;
    margin: 2rem auto 0;
    max-width: 320px;
    text-align: center;
  }

  .alert-danger.sub-idx-popup
  {
    max-width: 400px;
  }



  .card-content.spinner-content
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .preloader-wrapper
    {
      margin: 2rem 0;
    }

    p
    {
      margin: 2rem 0;
    }
  }


  div.tool-form-ad {
    margin-left: 3rem;
  }

}

@include media-w900
{
  section.tool
  {
    .container {
      flex-direction: column;
      align-items: center;
    }

    .card-tool {
      width: 520px;
    }

    div.tool-form-ad {
      margin-top: 1rem;
      margin-left: 0;
    }
  }
}

@include media-w600
{
  section.tool
  {
    .card-tool {
      width: auto;
    }
  }
}
