body {
  background-color: rgba(245, 245, 245, 0.4);
}

.flag.flag-en {
  background-position: -100px -210px;
}

.flag.flag-unknown {
  background-position: -999px -999px;
}

#SubIdxLanguages {
  width: 300px;
}

#SubIdxLanguages .language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#SubIdxLanguages .language.header {
  font-weight: 700;
}

#SubIdxLanguages .language .country {
  width: 25px;
}

#SubIdxLanguages .language .name {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#SubIdxLanguages .language .status {
  width: 75px;
  text-align: center;
}

#SubIdxLanguages .language > * {
  padding: 0.5rem;
}

