body {
  background-color: rgba(245, 245, 245, 0.4);
}

.flag.flag-en {
  background-position: -100px -210px;
}

.flag.flag-unknown {
  background-position: -999px -999px;
}

#GroupResult {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#GroupResult #FileJobs {
  width: 500px;
  max-width: 500px;
}

#GroupResult #FileJobs .file-job {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.25rem 0;
}

#GroupResult #FileJobs .file-job .status {
  padding-right: 2rem;
}

#GroupResult #FileJobs .file-job .original-name {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#GroupResult #GroupArchive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 4rem;
}

#GroupResult #GroupArchive img {
  margin-bottom: 0.75rem;
}

#SubIdxLanguages {
  width: 300px;
}

#SubIdxLanguages .language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#SubIdxLanguages .language.header {
  font-weight: 700;
}

#SubIdxLanguages .language .country {
  width: 25px;
}

#SubIdxLanguages .language .name {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#SubIdxLanguages .language .status {
  width: 75px;
  text-align: center;
}

#SubIdxLanguages .language > * {
  padding: 0.5rem;
}

