#StoredFileDetail
{
  margin: 0 2rem;

  h1 {
    margin-bottom: 2rem;
  }

  table.meta {
    margin-bottom: 2rem;
  }
  
  tr {
    font-size: 1.125rem;

    td:first-child {
      text-align: right;
      padding-right: 16px;
    }
  }

  pre {
    border: 1px solid black;
    padding: 0.5rem;
    font-size: 100%;
    white-space: pre-wrap;
  }

  .pres {
    display: flex;

    pre:last-child {
      border-left: 0;
      flex-grow: 1;
    }
  }

}