// Palette URL: http://paletton.com/#uid=32-0x0kv+uIlECUqiyqx6ofBaj9 */

$__primary-0: #67DB00;	// Main Primary color */
$__primary-1: #97EB4C;
$__primary-2: #82E629;
$__primary-3: #51AD00;
$__primary-4: #408800;
$__secondary-1-0: #F54900;	// Main Secondary color (1) */
$__secondary-1-1: #FF8653;
$__secondary-1-2: #FF6C2E;
$__secondary-1-3: #C13A00;
$__secondary-1-4: #992D00;
$__secondary-2-0: #8D03A1;	// Main Secondary color (2) */
$__secondary-2-1: #AE40BD;
$__secondary-2-2: #9D22AE;
$__secondary-2-3: #6F027F;
$__secondary-2-4: #580164;

//#######################################################

$color_main: $__primary-0;

$color_text: black;
$color_text-on-main: $__secondary-1-0;



//#######################################################

$font-weight-thin:    100;
$font-weight-light:   300;
$font-weight-regular: 400;
$font-weight-medium:  500;
$font-weight-bold:    700;
