section.blog-text-content
{
  margin-top: 3rem;

  .container > * {
    max-width: 900px;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  h3 {
    margin-top: 2rem;
    font-size: 1.5rem;
    margin-bottom: 0.875rem;
  }

  img {
    max-width: 95% !important;
  }

  p, ol, ul {
    font-weight: 300;
    font-size: 18px;
    margin: 0;
  }

  ol, ul {
    margin-top: 8px;
  }

  li {
    margin-left: 24px;
    list-style: disc;
  }

}
