nav ul
{
  padding: 0;
  background-color: whitesmoke;
  display: flex;

  list-style: none;

  li
  {
    &:first-child {
      flex-grow: 1;
    }

    padding: 0 1rem;

    > a
    {
      color: black;
    }

    &.active > a
    {
      font-weight: 700;
    }
  }
}
