body
{
  background-color: whitesmoke;
}

div.st-panel
{
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: whitesmoke;
  border-radius: 4px;

  h2
  {
    font-size: 22px;
    margin-bottom: 2rem;
  }
}
