nav ul
{
  background-color: whitesmoke;
  display: flex;
  justify-content: flex-end;
  list-style: none;

  li
  {
    padding: 0 1rem;

    > a
    {
      color: black;
    }

    &.active > a
    {
      font-weight: 700;
    }
  }
}
